<%= javascript_tag "$(document).ready(function(){
    $('#new_user').ajaxForm(function(){
    });
  });" %>
<div class="background_image">
<%= form_for(@user) do |f| %>
<div class="texts">
<%= f.text_field :email, :placeholder => "e-mail", :class => "left_field" %>
<%= f.password_field :password, :placeholder => "password", :class => "right_field" %>
</div>
<div class="buttons">
<%= f.submit 'Sign in', :class => 'left_field' %>
<input type="button" value="Sign up" class="right_field" id="show_reg_form" />
<div>
<% end %>
</div>
