<!DOCTYPE html>
<html>
<head>
  <title><%= yield :head %></title>
  <%= stylesheet_link_tag :index %>
  <%= javascript_include_tag :jquery, :form, :index %>
  <%= csrf_meta_tags %>
  <link href='/assets/icon.gif' rel="shortcut icon" type="image/x-icon" />
</head>
<body>
<%= yield %>
</body>
</html>
